<% include partials/header %>

<div class=" card server-status">
  <img src="img/server.svg" alt="server">
  <h2>Hi there!</h2>
  <p>Sign in/Sign up to get access to the secret page</p>
  <div class="btns">
    <% if(isAuthenticated) {%>
      <a href="/logout" class="btn logout">Logout</a>
    <% } else { %>
      <a href="/login" class="btn signin">Sign in</a>
      <a href="/register" class="btn singup">Sign up</a>
    <% } %>
  </div>
</div>

<% include partials/footer %>
