<% include partials/header %>

<div class="card">
  <h2>Secret Page</h2>
  <p>Hello Zonayed Ahmed. This is nothing but just a secret page. You can't visit this if you are not authenticated.</p>
  <div class="btns">
    <a href="/logout" class="btn logout">Logout</a>
  </div>
</div>

<% include partials/footer %>
